# generate files with: docker-builder -u -f=docker-builder.cfg

my $project = 'mojolicious';
my $title   = 'docker-mojolicious';    # $project;
my $version = '1.0';

{
    docker => {
        buildkit => 1,
        from     => "alpine:3.14",
        project  => $project,
        image    => "ebruni/$project",
        history  => [
            {
                date    => '2021-08-23',
                version => $version,
                comment => 'Initial Version'
            },
        ],
    },
    git => {
        repo => "https://github.com/EmilianoBruni/$title",
    },
    global => {
        author      => { name => 'Emiliano Bruni', mail => 'info@ebruni.it' },
        title       => $title,
        description => q{Minimum components to run
        [Mojolicious](https://mojolicious.org), a real-time web framework
        and web development toolkit written in
        [Perl](https://www.perl.org).} =~ s/\s{8}//gmr,
        app_folder  => '/var/www',
        publish     => '3000 8080',
        os_packages => [
            qw/make gcc perl-dev perl-app-cpanminus
              perl-module-build perl-namespace-clean perl-boolean
              perl-json-maybexs perl-test-fatal perl-path-tiny perl-moo
              perl-file-find-rule perl-number-compare perl-text-glob
              /
        ],
        os_packages_clear => [
            qw/make gcc perl-dev
            /
        ],
        license      => 'Artistic-2.0',
        perl_modules => [qw/Mojolicious/],
        versions     => [$version],
    },
    releases => {
        main => {
            versions       => [ $version, 'latest' ],
        },
        minion => {
            packages => [qw/musl-dev/],
            os_packages_clear => [
                qw/musl-dev
                /
            ],
            perl_modules   => [
                qw/
                    Minion
                  /
            ],
            versions => [ $version . '-minion', 'minion' ],
        },
        "minion-mongodb" => {
            packages => [qw/musl-dev/],
            os_packages_clear => [
                qw/musl-dev
                /
            ],
            perl_modules   => [
                qw/
                    Minion::Backend::MongoDB
                    Mojolicious::Plugin::Mongodbv2
                    Mojolicious::Plugin::Minion
                  /
            ],
            versions => [ $version . '-minion-mongodb', 'minion-mongodb' ],
        },
    },
    templates => [
        {
            source => 'dockerfile.ep',
            target => 'Dockerfile'
        },
    ],
};
